/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 80px 20px;
    min-height: 100vh;
}

#home {
    background-color: #3b3838;
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

#sobre {
    background-color: #e2e2e2;
    text-align: center;


    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        p{
            text-align: center;
            font-size: 13px;
        }

        img{
            height: 300px;
        }
    }
}

#produtos {
    background-color: #ccc;


    .carousel {
        max-width: 900px; /* Define a largura máxima do carrossel */
        margin: 0 auto; /* Centraliza o carrossel */
      }
  
      .carousel-item img {
        width: 100%; /* Faz as imagens ocuparem toda a largura do carrossel */
        height: auto; /* Mantém a proporção da imagem */
      }
  
      .carousel-item {
        height: 400px;
      }
  
      .carousel-item img {
        object-fit: cover;
            height: 100%;}
}

#contato {
    background-color: #b3b3b3;
}

footer {
    background-color: #333;
    color: #e4dcdc;
    text-align: center;
    padding: 1em 0;
}



